In [168]:
import pandas as pd
import numpy as np

In [169]:
df_train=pd.read_csv("credit/fraudTrain.csv")
df_test=pd.read_csv("credit/fraudTest.csv")
print(df_train.head())
df_test.head()

   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2019-01-01 00:00:18  2703186189652095
1           1   2019-01-01 00:00:44      630423337322
2           2   2019-01-01 00:00:51    38859492057661
3           3   2019-01-01 00:01:16  3534093764340240
4           4   2019-01-01 00:03:06   375534208663984

                             merchant       category     amt      first  \
0          fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1     fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                fraud_Lind-Buckridge  entertainment  220.11     Edward
3  fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                 fraud_Keeling-Crist       misc_pos   41.96      Tyler

      last gender                        street  ...      lat      long  \
0    Banks      F                561 Perry Cove  ...  36.0788  -81.1781
1     Gill      F  43039 Riley Greens Suite 393  ...  48.8878 -118.2105
2  Sanchez      M      594 White Dale Suite 530  ...  42.1808 -112.2620
3    White      M   9443 Cynthia Court Apt. 038  ...  46.2306 -112.1138
4   Garcia      M              408 Bradley Rest  ...  38.4207  -79.4629

   city_pop                                job         dob  \
0      3495          Psychologist, counselling  1988-03-09
1       149  Special educational needs teacher  1978-06-21
2      4154        Nature conservation officer  1962-01-19
3      1939                    Patent attorney  1967-01-12
4        99     Dance movement psychotherapist  1986-03-28

                          trans_num   unix_time  merch_lat  merch_long  \
0  0b242abb623afc578575680df30655b9  1325376018  36.011293  -82.048315
1  1f76529f8574734946361c461b024d99  1325376044  49.159047 -118.186462
2  a1a22d70485983eac12b5b88dad1cf95  1325376051  43.150704 -112.154481
3  6b849c168bdad6f867558c3793159a81  1325376076  47.034331 -112.561071
4  a41d7549acf90789359a9aa5346dcb46  1325376186  38.674999  -78.632459

   is_fraud
0         0
1         0
2         0
3         0
4         0

[5 rows x 23 columns]

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [170]:
df_train.drop(columns=['Unnamed: 0'],axis=1,inplace=True)
df_test.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [171]:
(df_train.head())

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [172]:
df_test.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [173]:
print(df_train.info())
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 22 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1296675 non-null  object
 1   cc_num                 1296675 non-null  int64
 2   merchant               1296675 non-null  object
 3   category               1296675 non-null  object
 4   amt                    1296675 non-null  float64
 5   first                  1296675 non-null  object
 6   last                   1296675 non-null  object
 7   gender                 1296675 non-null  object
 8   street                 1296675 non-null  object
 9   city                   1296675 non-null  object
 10  state                  1296675 non-null  object
 11  zip                    1296675 non-null  int64
 12  lat                    1296675 non-null  float64
 13  long                   1296675 non-null  float64
 14  city_pop               1296675 non-null  int64
 15  job                    1296675 non-null  object
 16  dob                    1296675 non-null  object
 17  trans_num              1296675 non-null  object
 18  unix_time              1296675 non-null  int64
 19  merch_lat              1296675 non-null  float64
 20  merch_long             1296675 non-null  float64
 21  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 217.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  555719 non-null  object
 1   cc_num                 555719 non-null  int64
 2   merchant               555719 non-null  object
 3   category               555719 non-null  object
 4   amt                    555719 non-null  float64
 5   first                  555719 non-null  object
 6   last                   555719 non-null  object
 7   gender                 555719 non-null  object
 8   street                 555719 non-null  object
 9   city                   555719 non-null  object
 10  state                  555719 non-null  object
 11  zip                    555719 non-null  int64
 12  lat                    555719 non-null  float64
 13  long                   555719 non-null  float64
 14  city_pop               555719 non-null  int64
 15  job                    555719 non-null  object
 16  dob                    555719 non-null  object
 17  trans_num              555719 non-null  object
 18  unix_time              555719 non-null  int64
 19  merch_lat              555719 non-null  float64
 20  merch_long             555719 non-null  float64
 21  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 93.3+ MB

In [174]:
print(df_train.isnull().sum())
df_test.isnull().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [175]:
unique_fraud=np.unique(df_train['is_fraud'])
unique_fraud

array([0, 1], dtype=int64)

In [126]:
df_train['is_fraud'].value_counts()

0    1289169
1       7506
Name: is_fraud, dtype: int64

In [127]:
df_train.columns
print(df_test.columns)

Index(['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt',
       'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat',
       'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat',
       'merch_long', 'is_fraud'],
      dtype='object')

In [128]:
df_train.drop(columns=['trans_date_trans_time','first', 'last','job', 'dob', 'street', 'city', 'state', 'zip','trans_date_trans_time','merchant','category', ],inplace=True)
df_test.drop(columns=['trans_date_trans_time','first', 'last','job', 'dob', 'street', 'city', 'state', 'zip','trans_date_trans_time','merchant','category', ],inplace=True)

In [129]:
dummies_train=pd.get_dummies(df_train['gender'])
dummies_test=pd.get_dummies(df_test['gender'])
print(dummies_train)
dummies_test

         F  M
0        1  0
1        1  0
2        0  1
3        0  1
4        0  1
...     .. ..
1296670  0  1
1296671  0  1
1296672  0  1
1296673  0  1
1296674  0  1

[1296675 rows x 2 columns]

        F  M
0       0  1
1       1  0
2       1  0
3       0  1
4       0  1
...    .. ..
555714  0  1
555715  0  1
555716  1  0
555717  0  1
555718  0  1

[555719 rows x 2 columns]

In [130]:
df_train

,cc_num,amt,gender,lat,long,city_pop,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2703186189652095,4.97,F,36.0788,-81.1781,3495,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,630423337322,107.23,F,48.8878,-118.2105,149,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,38859492057661,220.11,M,42.1808,-112.2620,4154,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3534093764340240,45.00,M,46.2306,-112.1138,1939,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,375534208663984,41.96,M,38.4207,-79.4629,99,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...
1296670,30263540414123,15.56,M,37.7175,-112.4777,258,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,6011149206456997,51.70,M,39.2667,-77.5101,100,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,3514865930894695,105.93,M,32.9396,-105.8189,899,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,2720012583106919,74.90,M,43.3526,-102.5411,1126,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,4292902571056973207,4.30,M,45.8433,-113.8748,218,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [131]:
df_test

,cc_num,amt,gender,lat,long,city_pop,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2291163933867244,2.86,M,33.9659,-80.9355,333497,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,3573030041201292,29.84,F,40.3207,-110.4360,302,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,3598215285024754,41.28,F,40.6729,-73.5365,34496,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3591919803438423,60.05,M,28.5697,-80.8191,54767,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,3526826139003047,3.19,M,44.2529,-85.0170,1126,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...
555714,30560609640617,43.77,M,40.4931,-91.8912,519,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,3556613125071656,111.84,M,29.0393,-95.4401,28739,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,6011724471098086,86.88,F,46.1966,-118.9017,3684,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,4079773899158,7.99,M,44.6255,-116.4493,129,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,4170689372027579,38.13,M,35.6665,-97.4798,116001,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [132]:
df_train=pd.concat([df_train,dummies_train],axis=1)
df_test=pd.concat([df_test,dummies_test],axis=1)

In [133]:
df_train

,cc_num,amt,gender,lat,long,city_pop,trans_num,unix_time,merch_lat,merch_long,is_fraud,F,M
0,2703186189652095,4.97,F,36.0788,-81.1781,3495,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,1,0
1,630423337322,107.23,F,48.8878,-118.2105,149,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,1,0
2,38859492057661,220.11,M,42.1808,-112.2620,4154,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,0,1
3,3534093764340240,45.00,M,46.2306,-112.1138,1939,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,0,1
4,375534208663984,41.96,M,38.4207,-79.4629,99,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,30263540414123,15.56,M,37.7175,-112.4777,258,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0,0,1
1296671,6011149206456997,51.70,M,39.2667,-77.5101,100,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0,0,1
1296672,3514865930894695,105.93,M,32.9396,-105.8189,899,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0,0,1
1296673,2720012583106919,74.90,M,43.3526,-102.5411,1126,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0,0,1
1296674,4292902571056973207,4.30,M,45.8433,-113.8748,218,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0,0,1

In [134]:
df_test

,cc_num,amt,gender,lat,long,city_pop,trans_num,unix_time,merch_lat,merch_long,is_fraud,F,M
0,2291163933867244,2.86,M,33.9659,-80.9355,333497,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0,0,1
1,3573030041201292,29.84,F,40.3207,-110.4360,302,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0,1,0
2,3598215285024754,41.28,F,40.6729,-73.5365,34496,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0,1,0
3,3591919803438423,60.05,M,28.5697,-80.8191,54767,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0,0,1
4,3526826139003047,3.19,M,44.2529,-85.0170,1126,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,30560609640617,43.77,M,40.4931,-91.8912,519,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0,0,1
555715,3556613125071656,111.84,M,29.0393,-95.4401,28739,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0,0,1
555716,6011724471098086,86.88,F,46.1966,-118.9017,3684,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0,1,0
555717,4079773899158,7.99,M,44.6255,-116.4493,129,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0,0,1
555718,4170689372027579,38.13,M,35.6665,-97.4798,116001,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0,0,1

In [135]:
y_train=df_train['is_fraud']
y_test=df_test['is_fraud']
print(y_train)
y_test

0          0
1          0
2          0
3          0
4          0
          ..
1296670    0
1296671    0
1296672    0
1296673    0
1296674    0
Name: is_fraud, Length: 1296675, dtype: int64

0         0
1         0
2         0
3         0
4         0
         ..
555714    0
555715    0
555716    0
555717    0
555718    0
Name: is_fraud, Length: 555719, dtype: int64

In [136]:
df_train.drop(columns=['is_fraud','gender'],inplace=True)
df_test.drop(columns=['is_fraud','gender'],inplace=True)

In [137]:
x_train=df_train
x_test=df_test
print(x_train)
print(x_test)

                      cc_num     amt      lat      long  city_pop  \
0           2703186189652095    4.97  36.0788  -81.1781      3495
1               630423337322  107.23  48.8878 -118.2105       149
2             38859492057661  220.11  42.1808 -112.2620      4154
3           3534093764340240   45.00  46.2306 -112.1138      1939
4            375534208663984   41.96  38.4207  -79.4629        99
...                      ...     ...      ...       ...       ...
1296670       30263540414123   15.56  37.7175 -112.4777       258
1296671     6011149206456997   51.70  39.2667  -77.5101       100
1296672     3514865930894695  105.93  32.9396 -105.8189       899
1296673     2720012583106919   74.90  43.3526 -102.5411      1126
1296674  4292902571056973207    4.30  45.8433 -113.8748       218

                                trans_num   unix_time  merch_lat  merch_long  \
0        0b242abb623afc578575680df30655b9  1325376018  36.011293  -82.048315
1        1f76529f8574734946361c461b024d99  1325376044  49.159047 -118.186462
2        a1a22d70485983eac12b5b88dad1cf95  1325376051  43.150704 -112.154481
3        6b849c168bdad6f867558c3793159a81  1325376076  47.034331 -112.561071
4        a41d7549acf90789359a9aa5346dcb46  1325376186  38.674999  -78.632459
...                                   ...         ...        ...         ...
1296670  440b587732da4dc1a6395aba5fb41669  1371816728  36.841266 -111.690765
1296671  278000d2e0d2277d1de2f890067dcc0a  1371816739  38.906881  -78.246528
1296672  483f52fe67fabef353d552c1e662974c  1371816752  33.619513 -105.130529
1296673  d667cdcbadaaed3da3f4020e83591c83  1371816816  42.788940 -103.241160
1296674  8f7c8e4ab7f25875d753b422917c98c9  1371816817  46.565983 -114.186110

         F  M
0        1  0
1        1  0
2        0  1
3        0  1
4        0  1
...     .. ..
1296670  0  1
1296671  0  1
1296672  0  1
1296673  0  1
1296674  0  1

[1296675 rows x 11 columns]
                  cc_num     amt      lat      long  city_pop  \
0       2291163933867244    2.86  33.9659  -80.9355    333497
1       3573030041201292   29.84  40.3207 -110.4360       302
2       3598215285024754   41.28  40.6729  -73.5365     34496
3       3591919803438423   60.05  28.5697  -80.8191     54767
4       3526826139003047    3.19  44.2529  -85.0170      1126
...                  ...     ...      ...       ...       ...
555714    30560609640617   43.77  40.4931  -91.8912       519
555715  3556613125071656  111.84  29.0393  -95.4401     28739
555716  6011724471098086   86.88  46.1966 -118.9017      3684
555717     4079773899158    7.99  44.6255 -116.4493       129
555718  4170689372027579   38.13  35.6665  -97.4798    116001

                               trans_num   unix_time  merch_lat  merch_long  \
0       2da90c7d74bd46a0caf3777415b3ebd3  1371816865  33.986391  -81.200714
1       324cc204407e99f51b0d6ca0055005e7  1371816873  39.450498 -109.960431
2       c81755dbbbea9d5c77f094348a7579be  1371816893  40.495810  -74.196111
3       2159175b9efe66dc301f149d3d5abf8c  1371816915  28.812398  -80.883061
4       57ff021bd3f328f8738bb535c302a31b  1371816917  44.959148  -85.884734
...                                  ...         ...        ...         ...
555714  9b1f753c79894c9f4b71f04581835ada  1388534347  39.946837  -91.333331
555715  2090647dac2c89a1d86c514c427f5b91  1388534349  29.661049  -96.186633
555716  6c5b7c8add471975aa0fec023b2e8408  1388534355  46.658340 -119.715054
555717  14392d723bb7737606b2700ac791b7aa  1388534364  44.470525 -117.080888
555718  1765bb45b3aa3224b4cdcb6e7a96cee3  1388534374  36.210097  -97.036372

        F  M
0       0  1
1       1  0
2       1  0
3       0  1
4       0  1
...    .. ..
555714  0  1
555715  0  1
555716  1  0
555717  0  1
555718  0  1

[555719 rows x 11 columns]

In [157]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

x_train['trans_num_encoded'] = label_encoder.fit_transform(x_train['trans_num'])
x_test['trans_num_encoded'] = label_encoder.fit_transform(x_test['trans_num'])
x_train.drop('trans_num', axis=1, inplace=True)
x_test.drop('trans_num', axis=1, inplace=True)

In [159]:
x_train

,cc_num,amt,lat,long,city_pop,unix_time,merch_lat,merch_long,F,M,trans_num_encoded
0,2703186189652095,4.97,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315,1,0,56438
1,630423337322,107.23,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,1,0,159395
2,38859492057661,220.11,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481,0,1,818703
3,3534093764340240,45.00,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071,0,1,544575
4,375534208663984,41.96,38.4207,-79.4629,99,1325376186,38.674999,-78.632459,0,1,831111
...,...,...,...,...,...,...,...,...,...,...,...
1296670,30263540414123,15.56,37.7175,-112.4777,258,1371816728,36.841266,-111.690765,0,1,344658
1296671,6011149206456997,51.70,39.2667,-77.5101,100,1371816739,38.906881,-78.246528,0,1,199896
1296672,3514865930894695,105.93,32.9396,-105.8189,899,1371816752,33.619513,-105.130529,0,1,366013
1296673,2720012583106919,74.90,43.3526,-102.5411,1126,1371816816,42.788940,-103.241160,0,1,1086299
1296674,4292902571056973207,4.30,45.8433,-113.8748,218,1371816817,46.565983,-114.186110,0,1,726622

In [162]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)

In [163]:
rf.fit(x_train,y_train)

RandomForestClassifier(random_state=42)

In [166]:
y_pred = rf.predict(x_test)

In [167]:

from sklearn.metrics import accuracy_score, classification_report

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f}%".format(accuracy * 100))

report = classification_report(y_test, y_pred)
print("Classification Report:\n", report)

Accuracy: 99.57%
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00    553574
           1       0.33      0.12      0.17      2145

    accuracy                           1.00    555719
   macro avg       0.66      0.56      0.59    555719
weighted avg       0.99      1.00      0.99    555719